<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <input id="name" type="text" formControlName="name" />
    <div *ngIf="registerForm?.get('name')?.invalid && registerForm?.get('name')?.touched">
      Name is required.
    </div>
  </div>
  <div>
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password" />
    <div *ngIf="registerForm?.get('password')?.invalid && registerForm?.get('password')?.touched">
      Password must be with at least one uppercase letter, one digit, and one special character.
    </div>
  </div>
  <button type="submit" [disabled]="registerForm?.invalid">Register</button>
</form>
